.container {
    width: 75%;
    margin: auto;
}

.button {
    background-color: #267ddf;
    border: none;
    border-radius: 6px;
    color: white;
    float: right;
    padding: 11px 21px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }